*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: url(img/northernlighs.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    padding: 20px;
    width: 100vw;
    height: 70px;
}

.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.6);
}

.left_area span{
    color: red;
}

.container{
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container p{
    margin-left: 7%;
    color: white;
    font-size: 40px;
    margin-top: -0.25%;
}

.container p1{
    margin-left: 1%;
    font-size: 40px;
}

.container p2{
    margin-left: 12%;
    font-size: 40px;
}

.container p3{
    margin-left: 13%;
    font-size: 40px;
}

.container p4{
    margin-left: 13%;
    font-size: 40px;
    hover
}

.Jordan1sil{
    margin-top: 20%;
    margin-left: 1.625%;
    width: 315px;
    height: 200px;
    border-radius: 2%;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.6);
}

.Jordan1sil:hover{
    background-color: black;
    opacity: 0.6;
}

.Jordan3sil:hover{
    background-color: black;
    opacity: 0.6;
}

.Jordan4sil:hover{
    background-color: black;
    opacity: 0.6;
}

.Jordan11sil:hover{
    background-color: black;
    opacity: 0.6;
}

.Jordan3sil{
    margin-top: 20%;
    margin-left: 1.625%;
    width: 315px;
    height: 200px;
    border-radius: 2%;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.6);
}

.Jordan4sil{
    margin-top: 20%;
    margin-left: 1.625%;
    width: 315px;
    height: 200px;
    border-radius: 2%;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.6);
}

.Jordan11sil{
    margin-top: 20%;
    margin-left: 1.625%;
    width: 315px;
    height: 200px;
    border-radius: 2%;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.6);
}